
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<h1>Burası Sehirler Paneli</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ülke</th>
        <th>Şehir</th>
        <th>Nüfus</th>
        <th>Bayrak</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Türkiye</td>
        <td>Ankara</td>
        <td>2500000</td>
        <td>Kırmızı Beyaz</td>
    </tr>
    <tr>
        <td>@ViewBag.s1</td>
        <td>@ViewBag.s2</td>
        <td>@ViewBag.s3</td>
        <td>@ViewBag.s4</td>
        <td>@ViewBag.s5</td>
    </tr>
    <tr>
        <td>@ViewBag.z1</td>
        <td>@ViewBag.z2</td>
        <td>@ViewBag.z3</td>
        <td>@ViewBag.z4</td>
        <td>@ViewBag.z5</td>
    </tr>
</table>
<a href="/Default/Urunler/"class="btn btn-info">Ürünlere Git</a>